<% include header %>

<h1>orderLineItem index</h1>


<h1>Order Line Page</h1>

<ul>
    <li><a href="orderLineItem/findall">Find All</a></li>
    <li><a href="orderLineItem/findone/0">Find One</a></li>
    <li><a href="orderLineItem/create">Create</a></li>
    <li><a href="orderLineItem/delete/0">Delete</a></li>
    <li><a href="orderLineItem/details/0">Details</a></li>
    <li><a href="orderLineItem/edit/0">Edit</a></li>
</ul>

<% include footer %>