<% include header %>
<body>
<ul>
  <li><a href="/order">Orders</a></li>
  <li><a href="/customer">Customers</a></li>
  <li><a href="/orderLineItem">OnlineLineDetails</a></li>
  <li><a href="/product">Products</a></li>
</ul>
</body>
<% include footer %>