
<body>
<ul>
  <li><a href="/order">Orders</a></li>
  <li><a href="/customer">Customers</a></li>
  <li><a href="http://localhost:8081/orderLineItem">OnlineLineDetails</a></li>
  <li><a href="/product">Products</a></li>
</ul>

</body>