
<body>
<ul>
			<li>
             <a href="http://localhost:8081/order">http://localhost:8081/order</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/create">http://localhost:8081/order/create</a>
            </li>
  
            <li>
              <a href="http://localhost:8081/order/edit/101">http://localhost:8081/order/edit/101</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/edit/102">http://localhost:8081/order/edit/102</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/edit/103">http://localhost:8081/order/edit/103</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/edit/104">http://localhost:8081/order/edit/104</a>
            </li>
			 <li>
              <a href="http://localhost:8081/order/edit/100">http://localhost:8081/order/edit/100</a>
            </li>
			
            <li>
              <a href="http://localhost:8081/order/delete/101">http://localhost:8081/order/delete/101</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/delete/102">http://localhost:8081/order/delete/102</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/delete/103">http://localhost:8081/order/delete/103</a>
            </li>
			<li>
              <a href="http://localhost:8081/order/delete/104">http://localhost:8081/order/delete/104</a>
            </li>
			<li>
              <a href="http://localhost:8081/order/delete/105">http://localhost:8081/order/delete/105</a>
            </li>
    
            <li>
              <a href="http://localhost:8081/order/details/101">http://localhost:8081/order/details/101</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/details/102">http://localhost:8081/order/details/102</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/details/103">http://localhost:8081/order/details/103</a>
            </li>
			<li>
              <a href="http://localhost:8081/order/details/104">http://localhost:8081/order/details/104</a>
            </li>
			<li>
              <a href="http://localhost:8081/order/details/100">http://localhost:8081/order/details/100</a>
            </li>
       
          <br />
<<<<<<< HEAD
  <li><a href="/customer">Customers</a></li>
  <li><a href="/orderLineItem">OnlineLineDetails</a></li>
=======
  <li><a href="http://localhost:8081/customers">Customers</a></li>
  <li><a href="http://localhost:8081/orderLineItem">OnlineLineDetails</a></li>
>>>>>>> 52054862676b857ce27ec5502c093ba304f6b59f
  <li><a href="/product">Products</a></li>
</ul>

</body>