
<body>
<ul>
<br />
<h2> Get JSON or View</h2><br />
            <h3>Orders </h3>			
			<li>
             <a href="http://localhost:8081/order">http://localhost:8081/order</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/create">http://localhost:8081/order/create</a>
            </li>
  
            <li>
              <a href="http://localhost:8081/order/edit/101">http://localhost:8081/order/edit/101</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/edit/102">http://localhost:8081/order/edit/102</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/edit/103">http://localhost:8081/order/edit/103</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/edit/104">http://localhost:8081/order/edit/104</a>
            </li>
			 <li>
              <a href="http://localhost:8081/order/edit/100">http://localhost:8081/order/edit/100</a>
            </li>
			
            <li>
              <a href="http://localhost:8081/order/delete/101">http://localhost:8081/order/delete/101</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/delete/102">http://localhost:8081/order/delete/102</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/delete/103">http://localhost:8081/order/delete/103</a>
            </li>
			<li>
              <a href="http://localhost:8081/order/delete/104">http://localhost:8081/order/delete/104</a>
            </li>
            <li><a href="order/findall">Find All</a></li>
            <li>
              <a href="http://localhost:8081/order/details/101">http://localhost:8081/order/details/101</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/details/102">http://localhost:8081/order/details/102</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/details/103">http://localhost:8081/order/details/103</a>
            </li>
			<li>
              <a href="http://localhost:8081/order/details/104">http://localhost:8081/order/details/104</a>
            </li>
			<li>
              <a href="http://localhost:8081/order/details/100">http://localhost:8081/order/details/100</a>
            </li>
			<li>
              <a href="http://localhost:8081/order/details/">http://localhost:8081/order/details/</a>
            </li>
       
          <br />
             <h3>	Customers </h3>
			 <li>
             <a href="http://localhost:8081/customer">http://localhost:8081/customer</a>
            </li>
            <li>
              <a href="http://localhost:8081/customer/create">http://localhost:8081/customer/create</a>
            </li>
  
            <li>
              <a href="http://localhost:8081/customer/edit/101">http://localhost:8081/customer/edit/101</a>
            </li>
            <li>
              <a href="http://localhost:8081/customer/edit/102">http://localhost:8081/customer/edit/102</a>
            </li>
            <li>
              <a href="http://localhost:8081/customer/edit/103">http://localhost:8081/customer/edit/103</a>
            </li>
            <li>
              <a href="http://localhost:8081/customer/edit/104">http://localhost:8081/customer/edit/104</a>
            </li>
			 <li>
              <a href="http://localhost:8081/customer/edit/100">http://localhost:8081/customer/edit/100</a>
            </li>
			
            <li>
              <a href="http://localhost:8081/customer/delete/101">http://localhost:8081/customer/delete/101</a>
            </li>
            <li>
              <a href="http://localhost:8081/customer/delete/102">http://localhost:8081/customer/delete/102</a>
            </li>
            <li>
              <a href="http://localhost:8081/customer/delete/103">http://localhost:8081/customer/delete/103</a>
            </li>
			<li>
              <a href="http://localhost:8081/customer/delete/104">http://localhost:8081/customer/delete/104</a>
            </li>
            <li><a href="customer/findall">Find All</a></li>
            <li>
              <a href="http://localhost:8081/customer/details/101">http://localhost:8081/customer/details/101</a>
            </li>
            <li>
              <a href="http://localhost:8081/customer/details/102">http://localhost:8081/customer/details/102</a>
            </li>
            <li>
              <a href="http://localhost:8081/customer/details/103">http://localhost:8081/customer/details/103</a>
            </li>
			<li>
              <a href="http://localhost:8081/customer/details/104">http://localhost:8081/customer/details/104</a>
            </li>
			<li>
              <a href="http://localhost:8081/customer/details/100">http://localhost:8081/customer/details/100</a>
            </li>
			
			<h3>	OrderLineItems </h3>
			<li><a href="orderLineItem/findall">Find All</a></li>
			<li>
			 <a href="/orderLineItem/findone/701">http://localhost:8081/orderLineItem/findone/1</a>
        </li>
        <li>
          <a href="/orderLineItem/findone/702">http://localhost:8081/orderLineItem/findone/2</a>
        </li>
        <li>
          <a href="/orderLineItem/findone/703">http://localhost:8081/orderLineItem/findone/3</a>
        </li>
        <li>
          <a href="/orderLineItem/findone/704">http://localhost:8081/orderLineItem/findone/4</a>
        </li>
		<li>
          <a href="/orderLineItem/delete/701">http://localhost:8081/orderLineItem/delete/1</a>
        </li>
        <li>
          <a href="/orderLineItem/delete/702">http://localhost:8081/orderLineItem/delete/2</a>
        </li>
        <li>
          <a href="/orderLineItem/delete/703">http://localhost:8081/orderLineItem/delete/3</a>
        </li>
        <li>
          <a href="/orderLineItem/delete/704">http://localhost:8081/orderLineItem/delete/4</a>
        </li>
	    <li>
          <a href="/orderLineItem/details/701">http://localhost:8081/orderLineItem/details/1</a>
        </li>
        <li>
          <a href="/orderLineItem/details/702">http://localhost:8081/orderLineItem/details/2</a>
        </li>
        <li>
          <a href="/orderLineItem/details/703">http://localhost:8081/orderLineItem/details/3</a>
        </li>
        <li>
          <a href="/orderLineItem/details/704">http://localhost:8081/orderLineItem/details/4</a>
        </li>
			
	  <li>
        <a href="/orderLineItem/edit/701">http://localhost:8081/orderLineItem/edit/1</a>
      </li>
      <li>
        <a href="/orderLineItem/edit/702">http://localhost:8081/orderLineItem/edit/2</a>
      </li>
      <li>
        <a href="/orderLineItem/edit/703">http://localhost:8081/orderLineItem/edit/3</a>
      </li>
      <li>
        <a href="/orderLineItem/edit/704">http://localhost:8081/orderLineItem/edit/4</a>
      </li>
	  <h3>    Products </h3>
	  	  <li>
        <a href="/product/edit/1">http://localhost:8081/product/edit/1</a>
      </li>
      <li>
        <a href="/product/edit/2">http://localhost:8081/product/edit/2</a>
      </li>
      <li>
        <a href="/product/edit/3">http://localhost:8081/product/edit/3</a>
      </li>
      <li>
        <a href="/product/edit/4">http://localhost:8081/product/edit/4</a>
      </li>	
	  		<li>
          <a href="/product/delete/1">http://localhost:8081/product/delete/1</a>
        </li>
        <li>
          <a href="/product/delete/2">http://localhost:8081/product/delete/2</a>
        </li>
        <li>
          <a href="/product/delete/3">http://localhost:8081/product/delete/3</a>
        </li>
        <li>
          <a href="/product/delete/4">http://localhost:8081/product/delete/4</a>
        </li>
	   			<li><a href="product/findall">Find All</a></li>
			<li>
			 <a href="/product/findone/1">http://localhost:8081/product/findone/1</a>
        </li>
        <li>
          <a href="/product/findone/2">http://localhost:8081/product/findone/2</a>
        </li>
        <li>
          <a href="/product/findone/3">http://localhost:8081/product/findone/3</a>
        </li>
        <li>
          <a href="/product/findone/4">http://localhost:8081/product/findone/4</a>
        </li>

	    <li>
          <a href="/product/details/1">http://localhost:8081/product/details/1</a>
        </li>
        <li>
          <a href="/product/details/2">http://localhost:8081/product/details/2</a>
        </li>
        <li>
          <a href="/product/details/3">http://localhost:8081/product/details/3</a>
        </li>
        <li>
          <a href="/product/details/4">http://localhost:8081/product/details/4</a>
        </li>			

</ul>

</body>