<!DOCTYPE html>
<html>

<head>
  <% include header.ejs %>
</head>
<body>
  
    <div class="container">
      <div class="body">
        <%- body %>
      </div>
    </div>
    
</body>
<% include footer.ejs %>
</html>