<!--@Author Hyndavi Musipatla-->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
          item.customername = req.body.customername
          item.customerAddress = req.body.customerAddress
          
          item.customerPhoneNumber = req.body.customerPhoneNumber
          item.customerEmail = req.body.customerEmail
        <label for="customername">firstName</label>
        <input type="text" class="form-control" id="customername" name="customername" value="<%= customer.customername %>" required>
      </div>
      <div class="form-group">
        <label for="customerAddress">customerAddress</label>
        <input type="text" class="form-control" id="customerAddress" name="customerAddress" value="<%= customer.customerAddress %>"required>
      </div>
      <div class="form-group">
        <label for="customerPhoneNumber">city</label>
        <input type="text" class="form-control" id="customerPhoneNumber" name="customerPhoneNumber" value="<%= customer.customerPhoneNumber %>"required>
      </div>
      <div class="form-group">
        <label for="customerEmail">customerEmail</label>
        <input type="text" class="form-control" id="customerEmail" name="customerEmail" value="<%= customer.customerEmail %>"required>
      </div>
      
    </div>
  </div>